__1.Write a Python program to find the first 20 non-even prime natural numbers.__

In [6]:
for i in range(1,21,1):
    if i%2 !=0 and i>1:
        for j in range(2,i):
            if i%j!=0:
                result=i
        print(result,end=" ")

3 5 7 9 11 13 15 17 19

__2.Write a Python program to implement 15 functions of string.__

In [7]:
string="let us upgrade"
#1.upper,lower,title,capitalize
print(string.upper())
print(string.lower())
print(string.title())
string.capitalize()

LET US UPGRADE
let us upgrade
Let Us Upgrade

'Let us upgrade'

In [8]:
#2 count function is used to count the occurence of the string.
string.count('u',2,8)

2

In [9]:
#3.isalpha
string.isalpha()

False

In [10]:
#4 isdigit
string.isdigit()

False

In [11]:
#5 strip()
string_1="  let us upgrade "
string_1.strip()

'let us upgrade'

In [12]:
#6 lstrip(),rstrip()
string_1="  let us upgrade   "
print(string_1.lstrip())
print(string_1.rstrip())

let us upgrade
  let us upgrade

In [13]:
#7 len()
string_1="  let us upgrade "
len(string_1)

17

In [14]:
#8 replace
string_1.replace("u","U")

'  let Us Upgrade '

In [15]:
#9 encode
string_1.encode()

b'  let us upgrade '

In [73]:
# 10
string_4 = "Lets Upgrade."

x = string_4.startswith("Lets")

print(x)

True

In [76]:
#11
string_5 = "500"

x = string_5.zfill(10)

print(x)

0000000500

In [77]:
#12
list_1 = ["John", "Peter", "Vicky"]

combined  = "#".join(list_1)

print(combined)

John#Peter#Vicky

In [78]:
#13
string_4="Hi,How are you?"

x = string_4.endswith("?")

print(x)

True

In [82]:
#14 
str_5 = "I am the student of {}".format("Lets Upgrade")
str_5

'I am the student of Lets Upgrade'

In [86]:
#15
str_6 = "Hello, welcome to my Lets Upgrade."

result = str_6.index("Upgrade")
result

26

__3.Write a Python program to check if the given string is a Palindrome or Anagram or None of them.
Display the message accordingly to the user.__

In [39]:
string_3= input("Enter  the string : ")
reverse=string_3[::-1]

if string_3==reverse:
    print("The string is palindrome")
elif  sorted (string_3)==sorted(reverse):
    print(sorted(string_3))
    print(sorted(reverse))
    print("The string is Anagram")
else:
    print("None of them")

Enter  the string : 2002
The string is palindrome

__4.Write a Python's user defined function that removes all the additional characters from the string
and converts it finally to lower case using built-in lower(). eg: If the string is "Dr. Darshan Ingle
@AI-ML Trainer", then the output be "drdarshaningle aimltrainer".__

In [70]:
list_1=['$','.','#',';',':','?','!','%','&','*','"',"''","@","-"]
input_1="Dr. Darshan Ingle @AI--ML Trainer"
for i in list_1: 
    if i in input_1:
        input_1=input_1.replace(i,"")
print(input_1)
input_1=input_1.replace(" ","").lower()
input_1

Dr Darshan Ingle AIML Trainer

'drdarshaningleaimltrainer'